@import "rules";

.app-wrapper {
  @include flexible();
  width: $desktop-width;
}


.header-element {
  @include flexible();
  @include background-image("../assets/images/headerBcg.jpg");
  width: $desktop-width;
  height: 500px;
}

